@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    /* colors */
    /* Color principal para elementos destacados */
    --main-color: #A83338;

    /* Color más oscuro para encabezados importantes, botones primarios, y énfasis */
    --colorR150: #6e0000;

    /* Color oscuro para subtítulos, bordes, y elementos secundarios */
    --colorR125: #830d0b;

    /* Color medio para fondos de secciones, efectos de hover, etc.*/
    --colorR100: #971a16;

    /* Color más claro para fondos alternativos, iconos, etc. */
    --colorR75: #ac2620;

    /* Color más claro para acentos y enlaces*/
    --colorR50: #c0332b;

    /* Color casi blanco, para secciones en las que el fondo es alguno de los anteriores */
    --almost-white: rgb(231, 231, 231);
    --almost-black: rgb(21, 21, 21);

    /* fonts */
    /* - Open Sans: Para el texto principal y cuerpos de texto (p, li, span, etc.) */
    --open_sans: "Open Sans", sans-serif;
    /* - Merriweather: Para encabezados y títulos destacados (h1, h2, h3, etc.) */
    --Merriweather: "Merriweather", serif;
    /* - Raleway: Para botones, etiquetas de filtro, etc. (clases específicas como .brand, .accent, botones especiales, etc.) */
    --raleway: "Raleway", sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

.accent {
    font-family: 'Raleway', sans-serif;
}

.nav {
    padding: 0 1rem;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    height: 5rem;
}

.nav__hamburguer {
    width: 40px;
    height: 50%;
    background-image: url("../multimedia/menu-ham.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 100;
    filter: invert(0);
    transition: background-image, filter .3s;
    border-radius: 50%;
    /* filter: drop-shadow(0 0 .5rem white); */
}

.nav__hamburguer--open {
    background-image: url("../multimedia/x.svg");
    filter: invert(1);
}

.nav__overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    inset: 0;
    opacity: 0;
    pointer-events: none;
    transition: .3s opacity;

}

.nav__overlay--show {
    opacity: 1;

    pointer-events: unset;
}

.nav__menu {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: var(--colorR125);
    color: rgb(230, 230, 230);
    font-size: 1.5rem;
    width: 65%;
    max-width: 400px;
    padding-top: 5rem;
    list-style: none;
    overflow: hidden;
    right: -100%;
    transition: right .5s;
}

.nav__menu--show {
    right: 0 !important;
}

.nav__item {
    width: 80%;
    margin: 0 auto;
    cursor: pointer;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.nav__link {
    text-decoration: none;
    color: var(--almost-white);
    font-size: 2rem;
}

.nav__login {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.nav__login--border-t {
    border-top: 1px solid white;
    padding-top: 2rem;
}

.nav__login--border {
    border-radius: 1em;
    margin-top: 2rem;
    border: 1px solid var(--almost-white);
}

.nav__sign {
    display: inline-block;
    color: var(--almost-white);
    padding: .7rem 0;
    text-decoration: none;
}

/* LOGIN */

.form-container {
    padding: 4rem 2rem;
    background: linear-gradient(to right, var(--colorR50), var(--colorR150));
    margin: 0 auto;
    height: 100%;
}

.group__container--valid {
    border-color: rgb(23, 200, 23) !important;
}

.group__container--invalid {
    border-color: var(--colorR50) !important;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: max-content;
    padding: 2rem;
    gap: 2rem;
    margin: 0 auto;
}

.logo__container img {
    height: 10rem;
    width: 10rem;
}

.form__group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__label {
    font-size: 1.6rem;
}

.group__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.5px solid rgba(0, 0, 0, 0.514);
    border-radius: 2px;
    transition: border-color .3s;
}

.group__container .form__input {
    min-width: 20rem;
    width: 25rem;
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 1rem 0;
    padding-left: 1rem;
}

.input__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin: 0 1rem;
    color: rgba(0, 0, 0, 0.514);
    transition: color .3s;
    cursor: pointer;
    user-select: none;
}

.input__icon--nocursor {
    cursor: unset;
}

.form__button {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    color: var(--almost-white);
    background-color: var(--colorR100);
    transition: background-color .3s;
}

.form__button:hover {
    background-color: var(--colorR150);
}

.has-text,
.group__container:hover {
    border-color: black;
}

.group__container:hover .input__icon,
.has-text .input__icon {
    color: black;
}

.validations {
    min-width: 100%;
    max-width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}

.validation {
    display: inline-block;
    background-color: #f8d7da;
    color: var(--colorR150);
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1.3rem;
    max-width: 29rem;
}

/* UTILIDADES */
/* colocar espacio al final del home */
.just-space {
    height: 3rem;
}

.no-visible {
    display: none;
}

@media (min-width: 768px) {
    body {
        height: unset !important;
    }

    .nav {
        gap: 2rem;
        overflow: visible;
        padding: 4rem 2rem;
        display: flex;
    }

    .nav__hamburguer {
        display: none;
    }

    .nav__overlay {
        position: unset;
        background-color: transparent;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__menu {
        position: unset;
        width: 100%;
        max-width: unset;
        background-color: unset;
        padding: 0;
        overflow: unset;
        display: flex;
        align-items: center;
        gap: 1rem;
        width: max-content;
    }

    .nav__item {
        width: max-content;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .nav__link {
        color: var(--almost-black);
        font-size: 1.8rem;
        width: max-content;
        font-weight: 600;
    }

    .nav__sign {
        padding: 1rem;
        color: var(--colorR150);
        font-size: 1.8rem;
        font-weight: 600;
        width: max-content;
    }

    .nav__login--border-t {
        border-top: unset;
        padding-top: unset;
    }

    .nav__login--border {
        border-radius: 1rem;
        margin-top: unset;
        outline: 1px solid var(--colorR150);
    }

    .nav__menu li>a {
        border-radius: 1rem;
        padding: 1rem;
    }

    .nav__menu li:hover>a {
        border-radius: 1rem !important;
        background-color: var(--colorR50);
        color: #fff;
        background: linear-gradient(to right, var(--colorR100), var(--colorR75));
    }

    .nav__login:last-child:hover {
        outline: unset;
    }

    .form-container {
        padding-bottom: 4rem;
        width: 100%;
        min-height: 100vh;
    }

    .form {
        width: 45rem;
        min-width: 35rem;
    }

    .logo__container img {
        height: 15rem;
        width: 15rem;
    }

    .form__label {
        font-size: 1.8rem;
    }

    .group__container .form__input {
        width: 100%;

        padding: 1.5rem 1rem;
        font-size: 1.8rem;
    }

    .form__button {
        padding: 1.5rem 1rem;
        font-size: 2rem;
        cursor: pointer;
    }

    .validations {
        width: 100%;
        max-width: unset;
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .validation {
        display: block;
        background-color: #f8d7da;
        color: var(--colorR150);
        border: 1px solid #f5c6cb;
        border-radius: 4px;
        padding: 0.5rem 1rem;
        font-size: 1.4rem;
        flex-grow: 1;
        max-width: unset;
    }

    /* UTILIDADES */
    .actual-page {
        border-radius: unset !important;
        border-bottom: 2px solid var(--colorR75);
    }
}